<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Menu</h3>
                    <ul>
                        <li><a href="/index#features">Features</a></li>
                        <li><a href="/index#services">Services</a></li>
                        <li><a href="https://api-client.swarmlab.io:8088">Lab-rooms</a></li>
                        <li><a href="https://git.swarmlab.io:3000">Git</a></li>
                        <li><a href="/documentation">Documentation</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="https://git.swarmlab.io:3000/swarmlab/feedback">Feedback</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Translations</h3>
                    <ul>
                        <li><a href="?lng=en">English</a></li>
                        <li><a href="?lng=el">Greek</a></li>
                        <li></li>
                    </ul>
                </div>
                <div class=" col-md-6 item text">
                    <h3 class="text-monospace">swarmlab.io</h3>
                    <p><%= t('welcome_text') %></p>
                </div>
                <div class="col item social"><span class="actions"> <a
                            class="btn btn-light btn-lg text-light action-button rounded-pill" role="button" href="#"
                            style="background-color: rgba(248,249,250,0);">Log In</a><a
                            class="btn btn-light btn-lg text-light action-button rounded-pill" role="button" href="#"
                            style="margin: 20px;background-color: rgba(248,249,250,0);color: rgb(255,255,255);">Sign
                            Up</a></span>
                </div>
            </div>
            <p class="copyright">swarmlab.io © <%= new Date().getFullYear(); %></p>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
<script src="/javascripts/bs-init.js"></script>
<script src="/javascripts/search.js"></script>
</body>

</html>