<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>swarmlab.io</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.min.css">
    <link rel="stylesheet" href="/stylesheets/Footer-Dark.css">
    <link rel="stylesheet" href="/stylesheets/Navigation-with-Button.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navigation-clean-button">
        <div class="container"><a class="navbar-brand text-monospace" href="/">swarmlab.io</a><button
                data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                    navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/#features">Features</a>
                    </li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/#services">Services</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/#lab-rooms">Lab-rooms</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Support
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/documentation">Documentation</a>
                            <a class="dropdown-item" href="/faq">FAQ</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="https://git.swarmlab.io:3000/swarmlab/feedback">Feedback
                            </a>
                        </div>
                    </li>
                </ul>
                <span class="navbar-text actions ml-3"> <a class="login" href="/login">Log In</a><a
                        class="btn btn-light action-button" role="button" href="/signup">Sign Up</a></span>
            </div>
        </div>
    </nav>